.app {
  padding: 100px;
  height: 100%;
  width: 800px;
}

.Form {
  display: flex;
  height: 50px;
}

.TextField {
  flex-grow: 1;
  font-size: larger;
}

.SubmitButton {
  width: 80px;
  font-size: larger;
  color: black;
}

#SubmitButton:active {
  transform:scale(1.03);
}

.NoteWindow {
  margin-top: 50px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Note {
  display: flex;
  align-items: center;
  background-color:#F0ECE5;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color:#31304D;
}

.Note p {
  margin: 0px;
  flex:auto;
}

.DeleteIcon {
  height: 60%;
}

.DeleteButton {
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
}

.DeleteButton:active {
  transform:scale(1.08);
}