.app {
  padding-block: 60px;
  padding-inline: 5%;
  height: auto;
  width: 800px;
}

  .Form {
    display: flex;
    height: 50px;
  }

  .TextField {
    flex-grow: 1;
    font-size: larger;
  }

    .SubmitButton {
      width: 80px;
      font-size: larger;
      color: black;
    }

    #SubmitButton:active {
      transform:scale(1.03);
    }

  .NoteWindow {
    margin-top: 50px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

    .Note {
      display: flex;
      position: relative;
      align-items: center;
      background-color:#F0ECE5;
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      color:#31304D;
    }

      .TextArea {
        display: flex;
        position: relative;
        margin: 0px;
        padding: 0px;
        flex: 1;
        align-items: center;
      }

      .EditBox {
        position: absolute;
        height: 30px;
        width: 95%;
        font-size: 16px;
      }

      .Note p {
        margin: 0px;
        flex:auto;
      }

      .Controls {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 70px;
      }

        .Icon {
          height: 60%;
        }